@media (min-width:1024px) {}

@media (min-width:787px) and (max-width:1023px) {


  .hero-section {
    position: relative;
  }



  span {
    left: 10vw;
    font-size: 5vw;
  }

  .right-side h1 {
    font-size: 5vw;
    margin-left: 2vw;
  }

  .right-side p {
    font-size: 3vw;
  }

  button {
    font-size: 2vw;
  }

  .about-me {
    width: 100vw;
    height: 100vh;

  }

  .about-me h2 {
    font-size: 5vw;
  }

  .about-me p {
    line-height: 3vw;
    font-size: 1vw;
    text-align: center;
  }

  .back-to-top i {
    bottom: 9vw;
  }
}

@media (max-width:787px) {

  .outer-background {
    width: 100%;
    height: 100%;
  }

  .hambrger {
    display: block;
    font-size: 5vw;
  }

  .icons i {
    font-size: 5vw;
  }

  ul,
  li {
    display: none;
  }

  .hero-section {
    flex-wrap: wrap;
    position: relative;
  }

  .left-side img {
    width: 120vw;
    height: 90vh;
    position: absolute;
    bottom: 0vw;
    left: -20vw;
  }

  .right-side {
    width: 100%;
  }

  span {
    left: 10vw;
    font-size: 5vw;
  }

  .right-side h1 {
    font-size: 6vw;

  }

  .right-side p {
    font-size: 3vw;
  }

  button {
    font-size: 3vw;
  }

  .about-me h2 {
    font-size: 6vw;
  }

  .about-me p {
    line-height: 5vw;
    font-size: 3.3vw;
    text-align: center;
  }

  .back-to-top i {
    bottom: 9vw;
  }

  .outer-project {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .right {
    margin-bottom: 7vw;
  }


  .right img,
  .left img {
    width: 100%;
  }

  .right h3,
  .left h3 {
    font-size: 4vw;
  }

  .right p,
  .left p {
    font-size: 3vw;
    line-height: 4vw;
  }

  .see-more {
    font-size: 3vw;
    margin-bottom: 4vw;
  }

  .see-more-project {
    font-size: 4vw;
  }

  .h3 {
    font-size: 6vw;
  }

  .h3 p {
    font-size: 2vw;
    font-family: Roboto, sans-serif;
    font-weight: 300;
  }

  .contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0vw 10vw;
  }

  .input-box {
    width: 50vw;
    height: 5vw;
    font-size: 3vw;
  }

  .area-box {
    width: 50vw;
    height: 30vh;
    font-size: 3vw;
  }

  .send {
    width: 50vw;
  }
}